<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (User.Identity?.IsAuthenticated ?? false)
        {
            <p class="text-green-600">Angemeldet als @User.Identity.Name <a href="/Account/Logout" class="text-red-600 hover:underline">Logout</a></p>

            <div>
                <a asp-controller="Restaurant" asp-action="Register">Registrieren</a>
                <a asp-controller="Restaurant" asp-action="List">Liste</a>
            </div>
        }
        else
        {
            <a href="/Account/Login" class="text-blue-600 hover:underline">Login</a>        <a href="/Account/Register" class="text-blue-600 hover:underline">Register</a> 
        }
    </header>
	<section class="section-body">
        <div class="container">
            
            <main role="main">
                @RenderBody()
            </main>
        </div>
	</section>
	

	<footer>
		<div class="container">
			&copy; @DateTime.Now.Year - AP08
		</div>
	</footer>

	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
